lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
lombok.copyableAnnotations += birintsev.google.maps.photos.owner.annotations.InputQuery
lombok.copyableAnnotations += birintsev.google.maps.photos.owner.annotations.InputApiKey
lombok.copyableAnnotations += birintsev.google.maps.photos.owner.annotations.OutputDirectory
